{% extends "cigeo/cigeo_base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Socio-ekonomické údaje" "socekon_index" %}
    {% breadcrumb "LAU1" "socekon_lau1_map" %}
{% endblock %}

{% block data %}
  let OBJECT_NAME = "socekon/lau1";
  let DESC = true;
{% endblock %}

{% block title %}CzechInvest Information System - CIIS | Socekon | LAU1 {% endblock %}

{% block heading %}
<h1>CIIS - Socio-ekonomické údaje | LAU1 (Okresy)</h1>
{% endblock %}
