{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}CzechInvest Information System - CIIS{% endblock %}

{% block content %}
<h1>CzechInvest Information System - CIIS</h1>
{% if user.is_authenticated and user.is_staff %}
<ul>
    <li><a href="/admin">Administrativní rozhranní</a></li>
</ul>
{% endif %}
<ul>
    <li><a href="/cigeo/">Základní prostorové prvky</a></li>
    <li><a href="/address">Adresní místa</a></li>
    <li><a href="/socekon">Socio-ekonomické údaje</a></li>
    <li><a href="/rks">Regionální kanceláře</a></li>
    <!--li><a href="/brownfields">Brownfieldy</a></li>
    <li><a href="/whoiswho">WhoIsWho</a></li-->
</ul>
<ul>
    <li><a href="/api/">REST API</a></li>
    <li><a href="/swagger">Swagger pro REST API</a></li>
    <li><a href="/redoc">Redoc pro REST API</a></li>
</ul>
{% endblock %}
