{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Home" "/" %}
{% endblock %}
<html>
    <head>
    <title>{% block title %}CzechInvest{% endblock %}</title>
    {% if DEBUG %}
    <script src="https://unpkg.com/vue"></script>
    {% else %}
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>"
    {% endif %}
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
    {% block scripts %}{% endblock %}
    <script type="text/javascript">
        {% block data %}
        {% endblock %}
    </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="#">
            <img src="https://www.czechinvest.org/getattachment/dbcdf99a-5936-41a9-b4e1-00e322bee2bd/CzechInvest-logo-png" width="100" alt="">
        </a>
        <ul class="navbar-nav">
            {% if user.is_authenticated and user.is_staff %}
            <li class="nav-item">{% if user.first_name %}{{ user.first_name }} {{ user.second_name }}{% else %} {{ user.username }} {% endif %} </li>
            <li class="nav-item"> <a href="/accounts/logout">Logout</a> </li>
            {% else %}
            <li class="nav-item"><a href="/accounts/login">Login</a></li>
            {% endif %}
        </ul>
        </nav>
        <div>
            {% render_breadcrumbs %}
        </div>


        <main role="main" class="container-fluid"></main>
        {% block heading %}{% endblock %}
        {% block content %}
        {% endblock %}
        </main>
        {% block javascript_functions %}
        {% endblock %}

    </body>
</html>
