{% extends "base.html" %}
{% load leaflet_tags %}
{% load static %}
{% block scripts %}
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block content %}

{% block map_content %}
        {% leaflet_map "cigeo_map" callback="map_init" %}
{% endblock %}

{% block after_map_content %}
    <!-- to be filled -->
{% endblock %}

{% block tablecontent %}
        <div id="table">
          <table class="table table-sm">
            <thead>
            <tr>
                <template v-if="features" >
                <feature-column v-bind:attribute="attribute" v-bind:key="attribute" v-on:click.native='onColumnClick(attribute)' v-for="attribute in Object.keys(features.features[0].properties)"></feature-column>
                </template>
            </tr>
            </thead>
            <tbody>
              <template v-if="features">
                <feature-row v-bind:feature="feature" v-bind:layer="layer" v-bind:features="features.features" v-bind:key="feature.id" v-for="feature in features.features"></feature-row>
              </template>
            </tbody>
          </table>
        </div>
{% endblock %}

{% block after_table_content %}
    <!-- to be filled -->
{% endblock %}

<script type="text/javascript" src="{% static "cigeo/map.js" %}"></script>
<script type="text/javascript" src="{% static "cigeo/table.js" %}"></script>

{% endblock %}
