{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% load leaflet_tags %}
{% load static %}
{% block scripts %}
    <link rel="stylesheet" href="{% static "cigeo/style.css" %}">
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
{% endblock %}

{% block data %}
  let OBJECT_NAME = "";
  let DESC = false;
{% endblock %}

{% block content %}

{% block map_content %}
<div class="container-fluid">
        {% leaflet_map "cigeo_map" callback="map_init" %}

</div>
{% endblock %}

{% block after_map_content %}
    <!-- to be filled -->
{% endblock %}

{% block tablecontent %}
        <div id="navigation_table">
          <div id="source" class="container-fluid">
                <div class="row">
                        <div class="col-sm text-left">
                                <template>
                                <api-links></api-links>
                                </template>
                        </div>
                        <div class="col-sm text-center">
                          <div id="spinner" class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div class="col-sm text-right">
                                <template v-if="count">
                                  <pages v-bind:count="count" v-bind:next="next" v-bind:previous="previous"></pages>
                                </template>
                        </div>
                </div>
          </div>
          <table class="table table table-responsive table-striped">
            <thead>
            <tr>
                <template v-if="features" >
                <feature-column v-bind:attribute="attribute" v-bind:key="attribute" v-on:click.native='onColumnClick(attribute)' v-for="attribute in Object.keys(features.features[0].properties)"></feature-column>
                </template>
            </tr>
            </thead>
            <tbody>
              <template v-if="features">
                <feature-row v-bind:feature="feature" v-bind:layer="layer" v-bind:features="features.features" v-bind:key="feature.id" v-for="feature in features.features"></feature-row>
              </template>
            </tbody>
          </table>
        </div>
{% endblock %}

{% block after_table_content %}
    <!-- to be filled -->
{% endblock %}

<script type="text/javascript" src="{% static "cigeo/map.js" %}"></script>
<script type="text/javascript" src="{% static "cigeo/table.js" %}"></script>

{% endblock %}
